.EventCard {
  width: 60%;
  height: 350px;
  background-color: #5c3d14b2;
  margin: 30px auto;
  display: flex;
  padding: 10px;
  box-shadow: 0 0 10px 12px #0000009a;
  .date {
    width: 30%;
    height: 100%;
    margin: 10px;
    position: relative;
    .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .poster {
        width: 98%;
        height: 98%;
        img {
          width: 100%;
        }
      }
      .day {
        font-size: 18px;
      }
      .month {
        font-size: 36px;
      }
    }
  }
  .details {
    width: 70%;
    height: 100%;
    margin: 10px;
    position: relative;
    .wrapper {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      width: 100%;
      h3 {
        font-size: 36px;
        text-transform: uppercase;
      }
      .icons {
        margin-top: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
          color: #ffffff;
          margin: 0 100px;
        }
      }
    }
  }
}
