.Navbar {
  position: absolute;
  width: 100%;
  z-index: 1;

  .active {
    // background-color: #42404096;
    background-color: #5e3b0bd7;
    padding: 0 20px;
  }

  .container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 77px;
    line-height: 77px;
    width: 85%;
    display: flex;
    text-align: start;
    .left {
      width: 45%;
      a {
        text-decoration: none;
        color: #ffffff;
        // .logo {
        //   width: 30px;
        //   height: 30px;
        //   background-image: url("../../assets/images/topboy-logo.png");
        //   background-position: center center;
        // }
      }
    }
    .right {
      width: 55%;
      display: flex;
      justify-content: space-around;
      .nav-links {
        // margin: 0 30px;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}
