.ServiceCard {
  width: 400px;
  // width: 286px;
  height: 305px;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin: 0 9px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  .wrapper {
    flex-direction: column;
    .arrow {
      display: none;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: #cea1a1;
    .wrapper {
      .arrow {
        display: block;
      }
    }
  }
}
@media screen and (max-width: 1560px) {
  .ServiceCard {
    width: 100%;
  }
}
