// .Footer {
//   height: 116px;
//   line-height: 116px;
// }

.Footer {
  color: #000000;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  p {
    margin: 5px 0;
    .text-link {
      margin: 6px;
    }
  }

  .bold {
    font-weight: bold;
  }

  hr {
    width: 75%;
    margin: auto;
  }

  .media-links {
    font-size: 24px;
    .icon {
      color: #000000;
      margin: 12px;
      &:hover {
        color: #f5dc52;
      }
    }
  }
}
