.Home {
  .hero {
    width: 100%;
    height: 110vh;
    background-image: url(../../../../assets/images/hero-img.jpg);
    // background-image: url(../../assets/images/topboy-logo.png);
    background-position: center center;
    background-size: cover;
    .wrapper {
      background-color: #21080ac2;
      width: 100%;
      height: 100%;
      .text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 64px;
      }
    }
  }
  .brands {
    background-color: #00000034;
    border-radius: 49px;
    width: 70%;
    height: 274px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    .icon {
      width: 213px;
      height: 128px;
      color: #e8ba1a;
      margin: 0 69px;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
    .active {
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
      &:hover {
        -moz-animation: none;
        -webkit-animation: none;
        animation: none;
      }
    }
  }
  .nation {
    width: 100%;
    height: 623px;
    margin: 130px 0;
    display: flex;
    overflow-x: scroll;
  }
  .about {
    width: 70%;
    margin: 0 auto;
    background-color: #f2f2f270;
    border-radius: 30px;
    // height: 700px;
    padding: 2%;

    .info {
      width: 70%;
      background-color: #f2f2f270;
      height: 600px;
      text-align: start;
      .img {
        float: right;
      }
      button {
        width: 188px;
        height: 41px;
        border-radius: 10px;
        background-color: #dbb327;
        border: none;
        cursor: pointer;
      }
    }
    .twitter {
      float: right;
      width: 30%;
      height: 600px;
      background-color: #063b8b57;
      border-radius: 20px;
      overflow: scroll;
    }
  }
  .help {
    margin: 130px 0;
    .services {
      width: 70%;
      height: 700px;
      margin: 0 auto;
      background-image: url("../../../../assets/images/service-img.png");
      background-position: center center;
      background-size: cover;
      .cover {
        width: 100%;
        height: 100%;
        background-color: #0000006b;
        line-height: 100%;
        position: relative;
        .text {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 60px;
        }
        .services-row {
          position: absolute;
          bottom: 1%;
          left: 50%;
          transform: translate(-50%, 0%);
          overflow: hidden;
          width: 100%;
          .wrapper {
            width: 100%;
            display: flex;
            margin: 0 auto;
            justify-content: space-around;
            a {
              width: 20%;
              margin: 5px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotateY(0deg);
  }
  25% {
    -moz-transform: rotateY(90deg);
  }
  50% {
    -moz-transform: rotateY(180deg);
  }
  75% {
    -moz-transform: rotateY(270deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 1560px) {
  .Home {
    .about {
      width: 75%;
      margin: 0 auto;
      .info {
        width: 65%;
        height: 620px;
        // background-color: #f2f2f270;
        border-radius: 30px;
        text-align: start;
        padding: 2%;
        .text {
          p {
            font-size: 12px;
          }
        }
      }
    }
    .help {
      .services {
        .cover {
          .text {
            font-size: 48px;
          }
        }
      }
    }
  }
}
