.Merch {
  width: 100%;
  height: 100vh;
  // background-image: url("../../assets/images/video-bg.png");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5f5a5448;
    h2 {
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translate(-50%, -8%);
      // color: #a56113;
    }
    .cart {
      position: absolute;
      top: 13%;
      left: 90%;
      transform: translate(-90%, -13%);
      .icon {
        padding: 3px 18px;
        background-color: #282525;
        border-radius: 3px;
        width: 50px;
        height: 30px;
        color: #e8ba1a;
        margin: 0 69px;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
      .active {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        &:hover {
          -moz-animation: none;
          -webkit-animation: none;
          animation: none;
        }
      }
    }
    .content {
      margin: 140px;
      height: 70%;
      width: 85%;
      .merch-row {
        margin: 0 auto;
        background-color: #a8969681;
        box-shadow: 0 0 10px 8px #323232;
        height: 100%;
        //   height: max-content;
        width: 100%;
        position: relative;
        .wrapper {
          height: 100%;
          display: grid;
          grid-template-columns: auto auto;
          overflow-y: scroll;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
