.NationCard {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  background-color: #31210a;
  // padding: 1%;
  border-top: 5px solid #1111115d;
  border-left: 3px solid #1111115d;
  border-right: 3px solid #1111115d;
  border-bottom: 5px solid #1111115d;
  img {
    height: 75%;
  }

  .media-links {
    font-size: 24px;
    .icon {
      color: #ffffff;
      margin: 12px;
      &:hover {
        color: #f5dc52;
      }
    }
  }
}
