.NationCard {
  height: 250px;
  // background-color: #857969;
  background-color: #e8ba1a;
  box-shadow: 0 0 10px 2px #858883;
  border-radius: 8px;

  img {
    height: 100%;
    float: right;
  }

  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .media-links {
      font-size: 24px;
      .icon {
        color: #ffffff;
        margin: 12px;
        &:hover {
          color: #f5dc52;
        }
      }
    }
  }
}
